<div class="container">
	<div class="row">
<% Coupon.all.each do |coupon|%>

		<%if DateTime.now.between?(coupon.valid_from,coupon.valid_until)%>
		<div class="col-6">
<div class="card text-center">
  <div class="card-header">
    CODE:<%= coupon.code%>
  </div>
  <div class="card-body">
  	<%if coupon.coupon_type =="percentage"%>
    <p class="card-title text-center">Maximum cashback amount is  Rs.<%= coupon.amount.to_i%> upto <%=coupon.percentage.to_i%>%</p>
    <%else%>
    <p class="card-title text-center">Maxmimum cashback amount is Rs.<%= coupon.amount.to_i%></p>
    <%end%>
    <p class="card-text"><%= coupon.description%></p>
  </div>
  <div class="card-footer text-muted">
    VALID FROM: <%= coupon.valid_from%> TO <%= coupon.valid_until%>
  </div>
</div>
</div>
<%end%>
<%end%>
</div>
</div>
