<div class="container">
	<div class="row">
<% Coupon.all.each do |coupon|%>

		<%if DateTime.now.between?(coupon.valid_from,coupon.valid_until)%>
		<div class="col-6">
<div class="card text-center">
  <div class="card-header">
    CODE:<%= coupon.code%>
  </div>
  <div class="card-body">
    <h5 class="card-title">UPTO  <%= coupon.amount%>%</h5>
    <p class="card-text"><%= coupon.description%></p>
  </div>
  <div class="card-footer text-muted">
    VALID FROM: <%= coupon.valid_from%> TO <%= coupon.valid_until%>
  </div>
</div>
</div>
<%end%>
<%end%>
</div>
</div>
