<div style="margin:5% 40% 0% 33%;float:left; width:500px; box-shadow:0 0 3px #aaa; height:auto;color:#666;">
   <div style="width:100%; padding:10px; float:left; background:#1ca8dd; color:#fff; font-size:30px; text-align:center;">
	Invoice
   </div>
    <div style="width:100%; padding:0px 0px;border-bottom:1px solid rgba(0,0,0,0.2);float:left;">
        <div style="width:30%; float:left;padding:10px;">
           
            <span style="font-size:14px;float:left; width:100%;">
                <%=User.find(@post.user_id).user_name%>
            </span>
			 <span style="font-size:14px;float:left;width:100%;">
                
            </span>
			<span style="font-size:14px;float:left;width:100%;">
        <%=User.find(@post.user_id).email%>
			</span>
        </div>
		
        <div style="width:40%; float:right;padding:">
            <span style="font-size:14px;float:right;  padding:10px; text-align:right;">
                <b>Date : </b><%=@post.updated_at%>
            </span>
			<span style="font-size:14px;float:right;  padding:10px; text-align:right;">
               <b> </b>
            </span>
        </div>
    </div>
    


    
    
    <div style="width:100%; padding:0px; float:left;">
     
          <div style="width:100%;float:left;background:#efefef;">
            <span style="float:left; text-align:left;padding:10px;width:50%;color:#888;font-weight:600;">
            Decription
           </span>
         <span style="font-weight:600;float:left;padding:10px ;width:40%;color:#888;text-align:right;">
         Amount
        </span>
      </div>
	  
      <div style="width:100%;float:left;">
        <h3>User text</h3>
            <span style="float:left; text-align:left;padding:10px;width:50%;color:#888;">
            <%= @post.text%>
        </span>
         <span style="font-weight:normal;float:left;padding:10px ;width:40%;color:#888;text-align:right;">
           <%=@payment.amount%>
        </span>
      </div>
      <%if @post.updated_text.present?%>
      <h3>proof readed text</h3>
	   <div style="width:100%;float:left;">
            <span style="float:left; text-align:left;padding:10px;width:50%;color:#888;">
            <%=@post.updated_text%>           
            <span style="font-size:10px; float:left; width:100%;">
            </span>
        </span>
         <span style="font-weight:normal;float:left;padding:10px ;width:40%;color:#888;text-align:right;">
            
        </span>
      </div>
      <%end%>
	  
	  	   <div style="width:100%;float:left; background:#fff;">
           
         <span style="font-weight:600;float:right;padding:10px 0px;width:40%;color:#666;text-align:center;">
           Amount paid:<%=@payment.paid_amount%>
        </span>
      </div>

    </div>
