<%=form_with url:payments_create_path(:id=>@post.id)  do |form|%>
<div class="container">
		<div class="row">
				<div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
						<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6">
										<address>
												<strong><%= User.find(@post.user_id).user_name%></strong>
										</address>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 text-right">
										<p>
												<em><%=DateTime.now%></em>
										</p>
								</div>
						</div>
						<div class="row">
								<div class="text-center">
										<h1>Apply Coupon</h1>
								</div>
								</span>
								<table class="table table-hover">
										<thead>
												<tr>
														<th>Text</th>
														<th>Words</th>
														<th class="text-center">Price</th>
														<th class="text-center">Total</th>
												</tr>
										</thead>
										<tbody>
												<tr>
														<td class="col-md-4"><em><%=@post.text%></em></h4></td>
														<td class="col-md-1 text-center"><%=@post.words%></td>
														<td class="col ">
                              <%= @post.per_word_amount%></td>
														<td class="col-md-1 text-center" id= "tot_amount"><%=@post.words * @post.per_word_amount.to_f %></td>

												</tr>
												<tr>
													<td>
													<%=form.label :coupon_code%>
													<%= form.text_field :coupon_code,:id => "code",:keyup=>"total_amount()" %></td>
													<td>
														discount:<strong><p id= "result"></p></strong>
													</td>
                          <td><strong><span id="value"></span></strong> </td>
													<td><p><strong>Total amount:₹<%=@post.words * @post.per_word_amount.to_f%></strong></p>
													</td>
												</tr>
										</tbody>
								</table>
									<%=form.submit  "Payment",class: "btn btn-success btn-lg btn-block"%>
						</div>
				</div>
		</div>
<%end%>

<script type="text/javascript">
	
 $(document).keyup(function() {
							
			$.ajax({    
				type: "GET",
				url: "coupon_verification",
				dataType: "json",
				data: { "code" : $("#code").val(),"tot_amount": $("#tot_amount").text() },
				success: function(response){ 
          console.log(response)
				 // var obj = JSON.stringify(response);
         // console.log(obj)
         $("#result").html("upto"+response.percentage)
				 $("#value").html("cashback amount :"+response.total_amount+"₹")
         console.log(response.total_amount)
				}
		});
});

</script>
