<script src="https://cdn.jsdelivr.net/npm/easytimer@1.1.1/src/easytimer.min.js"></script>
<div id="chronoExample">
	<%if @request.time_taken.present?%>
	<div><h3>Previous time taken:<%=Time.at(@request.time_taken).utc.strftime("%H:%M:%S")%></h3></div>
	<%end%>
    <div class="values">00:00:00</div>
    <div>
        <button class="startButton">Resume</button>
        <button class="pauseButton" >Pause</button>
    </div>
</div>

<%= rails_admin_form_for @post, url: proof_reading_path(@post, @post.id,model_name: Post), as: @abstract_model.param_key, html: { method: "post", multipart: true, class: "form-horizontal denser", data: { title: @page_name } } do |form|%>
<div class="container" >
	<form>
		<h4><%=@post.text%></h4>
	<div class="row">
		<div class="cols-md-8">
			<div id="word-count-container">
				<%= form.text_area :updated_text ,class: " updated_text form-control",:rows =>"3" ,:cols =>"80"%>
			</div>
			<%= link_to "Save" ,proof_reading_path(:id=>@post.id) ,class: "save btn btn-primary btn-lg",method:"put"%>
			
			<%= form.submit "Submit" ,class: "submit btn btn-primary btn-lg"%>
			<%= link_to "Reject" ,rejecting_request_path(:id=>@post.id) ,class: "btn btn-primary btn-lg"%>
		</div>
	</div>
	</form>
</div>
<%end%>
<script type="text/javascript">

var timer = new Timer();
timer.start();
$('#chronoExample .startButton').click(function () {
    timer.start();
});

$('#chronoExample .pauseButton').click(function () {
    timer.pause();
});


timer.addEventListener('secondsUpdated', function (e) {
    $('#chronoExample .values').html(timer.getTimeValues().toString());
});

timer.addEventListener('started', function (e) {
    $('#chronoExample .values').html(timer.getTimeValues().toString());
});

var time = $("#chronoExample .values").text()
var update_text =$(".updated_text").val()
// saving the updated text and time taken
$(".save").click(function(){
	var time = $(".values").text()
$.ajax({
    url: "proof_reading",
    data: {"time1": $(".values").text(),
			"updated_text": $(".updated_text").val()
		},
    type: "PUT",
    success: function (data) {
        console.log(data);
    }
});
});
// submiting the text after completion and time taken
$(".submit").click(function(){
	var time = $(".values").text()
$.ajax({
    url: "proof_reading",
    data: {"time1": $(".values").text(),
			"updated_text": $(".updated_text").val()
		},
    type: "POST",
    success: function (data) {
        console.log(data);
    }
});
});
</script>
