<div class="container">
	<div class="col-xs-12 text-right">   
				<div class="next">
					<%= link_to "New Post",posts_new_path,class: "btn btn-sm btn-success"%>
					</button>
				</div>
		</div>
<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Text</th>
			<th scope="col">words</th>
			<th scope="col">Status</th>
			<th scope="col">Payment Status</th>
			<th scope="col">Post Details</th>
			<th scope="col">Payment Details</th>
		</tr>
	</thead>
	<tbody>
		<% @posts.all.each do |post|%>
		<tr>
			<td><%=post.text%></td>
			<td><%=post.text.split(" ").size%></td>
			<td><%=post.status%></td>
			<%payment = Payment.find_by("post_id = ? AND status=?", post.id,"success")%>
			<%if payment.present?%>
			<td><%=payment.status%></td>
			<%else%>
				<td>pending</td>
			<%end%>
			<td><%=link_to "view",posts_show_path(:id=>post.id)%></td>
			<td>
			<%if payment.present?%>
			 <%=link_to "payment",payments_show_path(:post_id=>post.id)%>
			<%end%>
			</td>
			<td>
			<%if post.status=="completed"%>
			<%=link_to "invoice",posts_invoice_path(:id=>post.id)%>
			<%end%>
			</td>
		</tr>
		<%end%>
	</tbody>
</table>
<br>
</div>